<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

  </head>
  <body class="mx-12 my-6">
    <div>
    <h1 class="text-left font-semibold text-4xl">{{personalInfo.name}}</h1>
    <h5 class="font-medium text-xl my-2">{{personalInfo.current-role}}</h5>
  </div>
    <div class="my-2">
    <span>{{personalInfo.place}} |</span> 
    <span>Phone: {{personalInfo.phone}} |</span> 
    <span>Email: {{personalInfo.email}} |</span>
    <span>Github: {{personalInfo.github}} |</span>
    <span>LinkedIn: {{personalInfo.linkedin}} |</span>
    <span>Website: {{personalInfo.website}} </span>
    </div>

  <div>
<h2 class="font-bold text-lg my-2 mt-4">Summary</h2>
    <p>
    {{personalInfo.summary}}
    </p>
  </div>

<div class="my-6">
    <h2 class="font-bold text-lg">Skills</h2>
<ul class="mt-4">
<li> <span class="font-medium">Programming Languages</span>
 : {{skills.languages}} </li>
<li><span class="font-medium"> Frameworks</span> : {{skills.frameworks}} </li>
<li><span class="font-medium"> Additional Tools</span> : {{skills.tools}} </li>
<li><span class="font-medium"> Soft Skills</span> : {{skills.softSkills}} </li>
</ul>
</div>

<div class="my-6">
  <h2 class="font-bold text-lg ">Work Experience</h2>
<ul>
  {{#each experience}}
  <li class="my-4"><!-- have to make an input for present date -->
  <span class="font-medium text-grey-100 text-md ">{{compName}} | {{role}} | {{startDate.[0]}} {{startDate.[1]}} - {{endDate}}</span>
  <div>
    {{jobDesc}}
  {{/each}}
  </div> 
  </li>
  
</ul>
</div>

<div class="my-6">
<h2 class="font-bold text-lg">Education</h2>
<ul class="">
  {{#each education}}
  <li class="my-4">
  <h6 class="font-medium">{{degree}},{{year}}</h6>
  <div class="flex flex-col">
  <span>{{schoolName}}</span>
  <span>GPA : {{gpa}}</span>
  </div>
  </li>
  {{/each}}
</ul>
</div>


<div class="my-6">
    <h2 class="font-bold text-lg">Projects</h2>
<ul class="list-disc">
  {{#each projects}}
  <li class="mt-4">
  <h6 class="font-medium">{{projectName}}</h6>
  <p>
    {{description}}
  </p>
  </li>
  {{/each}}
</ul>
</div>

<div class="my-6">
<h2 class="font-bold text-lg">Certifications</h2>
<ul class="list-disc">
  {{#each certifications}}
  <li class="mt-4">
  <h6 class="font-medium">{{name}}</h6>
  <p> {{year}}
  </p>
  </li>
  {{/each}}
</ul>
</div>


  <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
